/*************************************Alignment******************************************************************/
.container-services{
    padding: 0px 10px;
}
.container-services .row{
    margin:0px;
    width:100%;
    padding-top:3px;
    padding-bottom: 10px;
}
.container-services .servicesbox{
    padding: 0px;
    text-align: left; 
    padding-bottom: 0px;
}

.container-services .container-heading{
    font-size: 45px;
    display: solid;
    margin:auto;
    color: maroon;
    font-weight: 600;
    padding-top:50px;
    padding-bottom: 10px;
        background-color: rgba(250,250,250);

}



.container-services .row-gray{
    background-color: gainsboro;
}


/*************************************TextStyling**********************************************************/

.container-services .servicesbox .subheading{
    color:maroon;
    font-size: 19px; 
    padding-bottom: 5px;;
}

.container-services .servicesbox .text{

    font-size: 15px; 
}

.container-services .servicesbox .row-mid{

    background-color: #fff7eb;
}